<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Bootstrap CDNs --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    {{!-- Personal Stylesheet --}}
    <link rel='stylesheet' type="text/css" href="/assets/css/burger_style.css">
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Permanent+Marker&display=swap" rel="stylesheet">

    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery.js"></script>

    {{!-- Personal js --}}
    <script src="/assets/js/eventHandler.js"></script>

    <title>Eat Da Burger</title>
</head>
<body>
    <header>
        <h1>Eat-Da-Burger!</h1>
    </header>

 {{{ body }}} 

    <div>
        <footer id="footer">
            <ul class="footer-ul">
                <li class="footer-li"><a class="linked" href="https://github.com/whackingMUFN">Github</a></li>
                <li class="footer-li"><a class="linked" href="https://whackingmufn.github.io/MyPortfolio/">Portfolio</a></li>
            </ul>
            
        </footer>
    </div>      
</body>
</html>